/*Обнуление*/
*{padding: 0;margin: 0;border: 0;}
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: inherit;}
/*--------------------*/
body {
    font-family: Roboto,Arial,'Helvetica Neue',Helvetica,sans-serif;
}
.wrapper {
    min-height: 100%;
    overflow: hidden;

    display: flex;
    flex-direction: column;
}
.container {
    max-width: 1220px;
    padding: 0 15px;
    margin: 0 auto;
}
header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 50;
}
.nav-top {
    background-color: white;
    padding: 5px 0;
    font-size: 15px;
    position: relative;
    z-index: 2;
}
.nav-top__body {
    display: flex;
    justify-content: space-between;
}
.nav-top__inf {
    display: flex;
    align-items: center;
}
.nav-top__inf p {

}
.nav-top__user {
    display: flex;
    align-items: center;
}
.nav-top__user a,
.nav-top__user i,
.nav-top__user p{
    display: inline-block;
    color: black;
    text-decoration: none;
    transition: 0.2s;
}
.nav-top__user a:hover i,
.nav-top__user a:hover p {
    opacity: 0.7;
}
i.fa-clock-o {
    padding-right: 8px;
}
i.fa-clock-o,
i.fa-user-circle {
    font-size: 15px;
}

.nav-bottom {
    padding: 15px 0;
    position: relative;
}
.nav-bottom:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index: 2;
}
.nav-bottom__body {
    display: flex;
    justify-content: space-between;
    position: relative;
}
.nav-bottom__logo-and-item {
    display: flex;
    align-items: center;
}
.nav-bottom__burger {
    display: none;
}
.nav-bottom__img {
    flex: 0 0 200px;
    margin-right: 20px;
    position: relative;
    z-index: 3;
}
.nav-bottom__img img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.nav-bottom__menu {}
.nav-bottom__nav {
    display: flex;
    align-items: center;
    position: relative;
    z-index: 2;
}
.nav-bottom__nav li {
    margin-right: 10px;
    display: block;
}
.nav-bottom__nav a {
    color: white;
    font-size: 20px;
    position: relative;
    padding-bottom: 5px;
}
.nav-bottom__nav a:after {
    content: "";
    background-color: #ffeb3b;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 0;
    transition: width .3s ease-in-out;
}
.nav-bottom__nav a:hover:after,
.nav-bottom__nav a:focus:after {
    width: 100%;
}
.nav-bottom__search-and-basket {
    display: flex;
    align-items: center;
    position: relative;
    z-index: 3;
}
.nav_bottom__search {
    display: flex;
    align-items: center;
    font-size: 25px;
    position: relative;
    transition: 0.2s;
    margin-right: 10px;
}
#nav_bottom__input {
    color: white;
    padding: 5px;
    position: relative;
    background-color: black;
}
.nav_bottom__search-line:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: #ffeb3b;
    transition: width .3s ease-in-out;
}
.nav_bottom__search:hover .nav_bottom__search-line:after {
    width: 85%;
}
#nav_bottom__input:focus {
    border-bottom: 2px solid #ffeb3b;
    padding-bottom: 3px;
}
.nav_bottom__search button {
    background-color: black;
    font-size: 25px;
    color: white;
    margin-left: 5px;
    transition: 0.2s;
}
.nav_bottom__search button:hover {
    opacity: 0.7;
}
.nav-bottom__basket {
    font-size: 25px;
    color: white;
    position: relative;
    transition: 0.2s;
}
.nav-bottom__basket a {
    color: white;
}
.nav-bottom__basket p {
    position: absolute;
    top: -7px;
    right: -6px;
    text-align: center;
    font-size: 15px;
    color: black;
    font-style: normal;
    width: 17px;
    height: 17px;
    display: inline-block;
    vertical-align: top;
    border: 1px solid #fff;
    border-radius: 100%;
    background-color: white;
    font-weight: 700;
}
.nav-bottom__basket:hover {
    opacity: 0.7;
}

main {
    flex: 1 1 auto;
}
/*головна*/
.block-banner {
    margin-top: 100px;
}
.block-banner__row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.block-banner__item {
    flex: 0 0 49%;
    padding-bottom: 24.5%;
    position: relative;
    margin-bottom: 2%;
}
.item-1,
.item-2,
.item-3,
.item-4 {
    opacity: 0;
    animation: item__animation;
    animation-duration: 1.5s;
    animation-timing-function: ease;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: forwards;
}
.item-1 {
    animation-delay: 0.5s;
}
.item-2 {
    animation-delay: 0.6s;
}
.item-3 {
    animation-delay: 0.7s;
}
.item-4 {
    animation-delay: 0.8s;
}
.block-banner__item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;

}
.block-banner__text {
    position: absolute;
    left: 8%;
    bottom: 20%;
}
.block-banner__text a {
    color: black;
    padding: 12px 25px;
    border: 1px solid black;
    transition: 0.5s;
}
.block-banner__text a:hover {
    background-color: white;
}

.benefits {
    background-color: #f5f5f5;
    padding-top: 40px;
}
.benefits__text-center {
    text-align: center;
    margin-bottom: 40px;
    font-size: 36px;
    font-weight: 700;
    line-height: 1;
    text-transform: uppercase;
}
.benefits__row {
    display: flex;
    flex-wrap: wrap;
}
.benefit {
    position: relative;
    flex: 0 1 25%;
}
.benefit__item {
    border-left: 1px solid #ededed;
    width: 100%;
    padding: 0 20px;
    background-color: white;
}
.benefit__title {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
}
.benefit__title-img {
    margin-right: 15px;
    flex: 0 1 25%;
    padding-bottom: 25%;
    position: relative;
}
.benefit__title-img img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    position: absolute;
    top: 0;
    left: 0;
}
.benefit__title-text {
    text-transform: uppercase;
    font-size: 16px;
    line-height: 1.2em;
    font-weight: 400;
}
.benefit__text {
    display: none;
    border-top: 1px solid black;
    padding: 20px 0;
}
.benefit__ul {
    font-family: 'Open Sans',sans-serif;
    font-size: 14px;
    color: #000;
    font-weight: 300;
    line-height: 1.2em;

    text-align: justify;
}
.benefit__ul li {
    position: relative;
    margin-left: 20px;
}
.benefit__ul li:before {
    content: '-';
    position: absolute;
    top: 0;
    left: -11px;
}
.benefit__item:hover {
    position: absolute;
    z-index: 2;
    background-color: white;
    box-shadow: 0 0 5px 0 #000000;
}
.benefit__item:hover .benefit__text {
    display: block;
}

.benefit-social {
    background-color: #ececec;
    padding: 13px;
    display: flex;
    margin-bottom: 40px;
}
.benefit-social__right,
.benefit-social__left {
    flex: 0 1 40%;
    font-size: 15px;
    font-weight: 700;
    font-style: italic;
    line-height: 1.6;
    text-transform: uppercase;
    color: #333333;
}
.benefit-social__center {
    flex: 0 1 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.benefit-social__center a {
    color: #0094e9;
    margin: 0 5px;
}
.benefit-social__right {
    text-align: right;
}
.benefit-social__left {
    text-align: left;
}

.popular-title {
    padding: 20px 0 50px 0;
    font-size: 36px;
    text-align: center;
    font-weight: 700;
    line-height: 1;
    text-transform: uppercase;
}
.popular {
    background-color: #f5f5f5;
    margin-bottom: 50px;
}
.popular__row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 10px 0;
}

.popular__category {
    flex: 0 1 25%;
    padding: 20px 60px 20px 20px;
}
.popular__category-title {
    margin-bottom: 30px;
    font-size: 26px;
    font-weight: 700;
    font-style: italic;
    line-height: 1;
    text-transform: uppercase;
}
.popular__category-list {
    font-size: 15px;
    line-height: 1.33333333;
    padding-left: 10px;
}
.popular__category-list li {
    position: relative;
    padding-bottom: 10px;
}
.popular__category-list li:before {
    content: '';
    display: block;
    position: absolute;
    background-color: #0094e9;
    width: 4px;
    height: 4px;
    left: -12px;
    top: 8px;
    border-radius: 50%;
}
.popular__category-more {
    margin-top: 40px;
    font-size: 12px;
    font-weight: 500;
    line-height: 1.66666667;
    text-transform: uppercase;
}
.popular__category-more a {
    color: #0094e9;
    text-decoration: none;
    transition: 0.2s;
}
.popular__category-more a:hover {
    opacity: 0.7;
}

.popular__product {
    flex: 0 1 75%;
}
.popular__row-product {
    display: flex;
    flex-wrap: wrap;
}
.product {
    flex: 0 1 25%;
}
.product__item {
    margin: 0 5px 10px 5px;
    background-color: white;
    position: relative;
    padding: 10px 0;
}
.product__img {
    height: 200px;
}
.product__img img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.product__title {
    height: 44px;
    font-size: 15px;
    line-height: 1.375;
    color: #333;
    font-weight: 700;
    padding: 0 24px;
    text-align: center;
    margin-bottom: 40px;
    transition: 0.2s;
}
.product__title span {
    display: inline-block;
    margin: 0 4px;
    color: #999;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.28571429;
    white-space: nowrap;
}
.product__rating {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
}
.fa-star {
    padding: 0 3px;
}
.fa-star__active {
    color: #0094e9;
}
.product__price {
    margin-top: 20px;
    padding-bottom: 20px;
    color: #333;
    font-size: 20px;
    font-weight: 700;
    line-height: 1;
    text-align: center;
}
.product__item a {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: 0.2s;
}
.product__item a:hover {
    box-shadow: 0px 0px 20px 1px rgba(0,0,0,0.29);
}
.product__item:hover .product__title {
    color: #0094e9;
}

@keyframes item__animation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/*product-list*/
.bc {
    background-color: #f5f5f5;
}
.line-nav {
    margin-top: 100px;
    margin-bottom: 40px;
    display: flex;
}
.line-nav li {
    margin-right: 10px;
    color: #999;
}
.line-nav li:last-child {
    margin-right: 0;
}
.line-nav span {
    color: black;
    font-weight: 700;
}
.line-nav a {
    color: #999;
}
.filter {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 40px;
}
.form-sort {
    flex: 0 1 25%;
}
.fs-group:first-child {
    border-top: 0;
}
.fs-group {
    border-top: 1px solid #ececec;
    background-color: white;
}
.fs__title {
    position: relative;
    background-color: white;
    padding: 12px 30px;
    font-size: 15px;
    font-weight: 700;
    line-height: 1;
    text-transform: uppercase;
}
.fs__range {
    background-color: white;
    padding: 15px 30px 20px;
    color: #999;
    font-size: 12px;
    font-weight: 400;
    line-height: 1;
}
.fs__range label {
    margin-right: 5px;
}
.range__input {
    border: 1px solid #ececec;
    height: 26px;
    width: 65px;
    padding: 0 5px;
    color: #000;
    margin-bottom: 20px;
}
.ui-slider-horizontal {
    width: 100%;
    height: 5px;
    border-radius: 10px;
}
.ui-widget-header {
    background-color: #0094e9;
}
.ui-widget.ui-widget-content { background-color: #ddd;}
.ui-slider-handle.ui-corner-all.ui-state-default {
    width: 12px;
    height: 12px;
    border-radius: 100%;
    background: #202020;
    border: 1px solid #202020;
}

.fs__check {
    padding: 15px 30px 20px;
    color: #999;
    font-size: 15px;
    font-weight: 400;
    line-height: 1;
}
.fs__check li {
    margin-bottom: 10px;
}
.fs__check label {
    display: inline-block;
    position: relative;
    cursor: pointer;
    padding-left: 18px;
}
.fs__check input {
    position: absolute;
    width: 12px;
    height: 12px;
    top: 2px;
    left: 0;
    cursor: pointer;
    opacity: 0;
    z-index: 1;
}
.fs__check input:checked + p {
    color: #0094e9;
}
.fs__check p:before {
    content: '';
    display: block;
    position: absolute;
    border: 1px solid #9f9f9f;
    background-color: #fff;
    width: 12px;
    height: 12px;
    top: 2px;
    left: 0;
}
.fs__check input:checked + p:before {
    border-color: #0094e9;
    background-color: #0094e9;
}
.fs__button {
    padding: 15px 30px 20px;
}
.fs__button button {
    font-weight: 700;
    text-transform: uppercase;
    padding: 10px 30px;
    transition: 0.2s;
    background-color: #f5f5f5;
}
.fs__button button:hover {
    background-color: #0094e9;
    color: white;
}
.list-product {
    flex: 0 1 75%;
}
.list-product__sort {
    padding: 10px 20px;
    background-color: white;
    margin: 0 5px 20px 25px;
    display: flex;
}
.list-product__sort li {
    margin-right: 10px;
    color: #333333;
}
.list-product__sort li:last-child {
    margin-right: 0;
}
#list-product__sort_active {
    color: #0094e9;
}
.list-product__sort li button {
    color: #333333;
    background-color: white;
}
.list-product__row {
    display: flex;
    flex-wrap: wrap;
    margin-left: 20px;
}
.list-product__message {
    margin-left: 25px;
    font-size: 15px;
}

/*product*/
.product-head {
    display: flex;
    margin-bottom: 30px;
    flex-wrap: wrap;
}
.product-head__img {
    flex: 0 1 30%;
}
.product-img {}
.product-img img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.product-head__main {
    flex: 0 1 70%;
}
.product-head__name {
    margin: 0 0 24px;
    color: #000;
    font-size: 30px;
    font-weight: 700;
    line-height: 1.2;
    text-transform: uppercase;
}
.product-head__categories-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
    flex-wrap: wrap;
}
.product-head__categories {
    flex: 0 1 40%;
}
.product-head__categories .td-title {
    width: 50%;
    padding-top: 6px;
    padding-bottom: 6px;
    font-size: 14px;
    line-height: 1.42857143;
    vertical-align: top;
    padding-right: 10px;
    color: #999;
}
.product-head__categories .td-value {
    color: #333333;
}
.product-head__rating {}
.product-head__rating-item {
    border: 1px solid #ececec;
    padding: 10px 12px;
}
.product-head__rating-title {
    color: #999;
    font-size: 14px;
}
.product-head__rating-value {
    color: #0094e9;
    font-size: 50px;
    font-weight: 700;
    letter-spacing: -1px;
    margin: 10px 0;
}
.product-head__rating-value small {
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0;
}
.product-head__rating-count {
    color: #999;
    font-size: 14px;
}
.product-head__rating-count span {
    color: #333;
}
.product-head__buy {
    border-collapse: collapse;
    border-spacing: 0;
    max-width: 650px;
    width: 100%;
}
.product-head__buy th {
    background-color: black;
    color: #fff;
    font-size: 12px;
    font-weight: 400;
    line-height: 1;
    text-transform: uppercase;
    text-align: left;
    padding: 10px 0 10px 10px;
}
.product-head__buy td {
    border-bottom: 1px solid #ececec;
    padding: 10px 0 10px 10px;
}
.product-head__buy td:first-child {
    border-left: 1px solid #ececec;
}
.product-head__buy td:last-child {
    border-right: 1px solid #ececec;
}
.phb-package,
.phb-price {
    font-size: 20px;
    font-weight: 700;
    line-height: 1;
    color: #333;
}
.phb-available {
    color: #333;
    font-size: 14px;
    line-height: 1.42857143;
}
.phb-count input[type=number] {
    border: 1px solid #ececec;
    height: 26px;
    width: 65px;
    padding: 0 5px;
    color: #000;
}
td.phb-add {
    padding: 0;
    text-align: center;
}
.phb-add a {
    border: 0;
    background-color: #f5f5f5;
    font-size: 14px;
    color: black;
    line-height: 3.28571429;
    text-transform: uppercase;
    padding: 5px 10px;
    transition: 0.2s;
}
.phb-add a:hover {
    background-color: #0094e9;
    color: #fff;
}
.phb-add a.phb-add__disabled {
    pointer-events: none;
    cursor: default;
    background-color: #bebebe;
}
.product-info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    flex-wrap: wrap;
}
.product-info__description {
    flex: 0 1 59%;
}
.product-info__comment {
    padding: 14px 0 16px 0;
    border-bottom: 1px solid #f5f5f5;
}
.product-info__comment:last-child {
    border: none;
}
.product-info__rating {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
}
.product-info__name-date {
    margin: 8px 0;
}
.product-info__name {
    display: inline-block;
    color: #333;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.375;
    margin-right: 30px;
}
.product-info__date {
    display: inline-block;
    color: #999;
    font-size: 13px;
    line-height: 1.5;
}
.product-info__reviews {
    flex: 0 1 39%;
}
.product-info__block {}
.product-info__form {
    background-color: #f6f6f6;
    padding: 20px;
}
.product-info__form-title {
    margin: 10px 0 20px 0;
    font-size: 20px;
    font-weight: 700;
    font-style: italic;
    line-height: 1;
    text-transform: uppercase;
    text-align: center;
}
.product-info__form-rating {
    padding-left: 22px;
}
.product-info__form-rating-title {
    margin-right: 16px;
    color: #999;
    display: inline-block;
    font-size: 14px;
    line-height: 1.07142857;
}

.product-info__form-rating-star {
    display: inline-flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    margin-bottom: 20px;
}
.product-info__form-rating-star > input {
    display: none;
}
.product-info__form-rating-star > label {
    cursor: pointer;
    transition: .3s;
}
.product-info__form-rating-star > input:checked ~ label,
.product-info__form-rating-star > input:checked ~ label ~ label {
    color: #0094e9;
}
.product-info__form-rating-star > input:not(:checked) ~ label:hover,
.product-info__form-rating-star > input:not(:checked) ~ label:hover ~ label {
    color: #0094e9;
}
.product-info__form textarea {
    resize: none;
    border: 0;
    width: 100%;
    padding: 16px 22px;
    font-size: 14px;
    vertical-align: top;
    color: #999;
    margin-bottom: 12px;
    text-align: justify;
}
.product-info__form textarea::placeholder {
    color: #999;
}
.product-info__error-textarea, .product-info__error-input {
    outline: 2px solid #ffa908;
    border-radius: 3px;
}
.product-info__form input {
    border: 0;
    width: 100%;
    padding: 16px 22px;
    font-size: 14px;
    vertical-align: top;
    color: #999;
    margin-bottom: 12px;
}
.product-info__form input::placeholder {
    color: #999;
}
.product-info__button {
    text-align: center;
}
.product-info__button button {
    border: 0;
    background-color: #0094e9;
    padding: 0 15px;
    color: #fff;
    font-size: 12px;
    line-height: 3.28571429;
    text-transform: uppercase;
    font-weight: 700;
    transition: 0.2s;
}
.product-info__button button:hover {
    background-color: #3d7fa5;
}
.product-info__error {
    margin-top: 20px;
    color: #ffa908;
    font-size: 15px;
    font-weight: 700;
}
.product-info__title {
    padding: 17px 20px;
    font-size: 26px;
    background-color: #ebebeb;
    font-weight: 700;
    font-style: italic;
    line-height: 1;
    text-transform: uppercase;
}
.product-info__text {
    border: 1px solid #ececec;
    border-top: 0;
    padding: 20px;
    color: #000;
    font-size: 13px;
    font-weight: 400;
    line-height: 22px;
    text-align: justify;
}

/*basket*/
.basket {}
.basket__title {
    padding-top: 100px;
    font-size: 30px;
    margin-bottom: 34px;
    font-weight: 700;
    line-height: 1.2;
    text-transform: uppercase;
}
.basket__row {
    background-color: #f5f5f5;
    padding: 20px 0;
    margin-bottom: 34px;
}
.cart-product {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    margin-bottom: 20px;
}
.cart-product__img {
    flex: 0 1 19%;
    min-width: 140px;
}
.cart-product__img img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.cart-product__content {
    flex: 0 1 78.5%;
    display: flex;
    align-items: center;
}
.cart-product__content-row {
    flex: 0 1 100%;
    display: flex;
    align-items: center;
}
.cart-product__details {
    flex: 0 1 60%;
}
.cart-product__category {
    margin-bottom: 10px;
}
.cart-product__category a {
    color: #333;
    font-size: 14px;
    line-height: 1.42857143;
    transition: 0.2s;
}
.cart-product__title {
    margin-bottom: 30px;
}
.cart-product__title a {
    color: #333;
    font-size: 18px;
    font-weight: 700;
    line-height: 1;
    text-transform: uppercase;
    transition: 0.2s;
}
.cart-product__title span {
    font-size: 14px;
    margin-left: 6px;
    color: #999;
    font-weight: 400;
}
.cart-product__category a:hover,
.cart-product__title a:hover {
    color: #0094e9;
}
.cart-product__price {
    font-size: 24px;
    color: #0094e9;
    font-weight: 700;
    line-height: 1;
}
.cart-product__count {
    flex: 0 1 20%;
    text-align: center;
}
.cart-product__count input {
    border: 2px solid #ededed;
    width: 80px;
    height: 40px;
    vertical-align: middle;
    text-align: center;
    font-size: 15px;
}
.cart-product__amount {
    flex: 0 1 20%;
}
.cart-product__amount-tip {
    font-size: 14px;
    color: #999;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: right;
}
.cart-product__amount-price {
    margin-top: 4px;
    font-size: 24px;
    color: #333;
    font-weight: 700;
    line-height: 1;
    text-align: right;
}
.cart-product__remove {
    width: 14%;
    text-align: right;
}
.cart-product__remove a {
    display: inline-block;
    background-color: #e3e3e3;
    width: 32px;
    height: 32px;
    text-align: center;
    transition: 0.2s;
}
.cart-product__remove .fa-times {
    position: relative;
    top: 19%;
    color: #0094e9;
    font-size: 20px;
}
.cart-product__remove a:hover {
    opacity: 0.7;
}
.basket__row-bottom {
    display: flex;
    justify-content: space-between;
    padding-top: 70px;
    margin-bottom: 20px;
}
.basket__button-update {
    padding-top: 71px;
}
.basket__button-update a {
    border: 1px solid #0094e9;
    color: #0094e9;
    font-size: 14px;
    text-align: center;
    padding: 20px 40px;
    text-transform: uppercase;
}
.basket__order {
    color: #333;
    line-height: 1;
    text-align: center;
}
.basket__order a {
    background-color: #0094e9;
    text-align: center;
    color: #fff;
    font-size: 14px;
    padding: 20px 40px;
    text-transform: uppercase;
}
.basket__sum {
    font-size: 14px;
    text-align: right;
    margin-bottom: 40px;
}
.basket__sum span {
    margin-left: 20px;
    font-size: 30px;
    font-weight: 700;
}

.signin, .signup {
    max-width: 450px;
    padding: 30px;
    box-shadow: 0 0 1px rgba(0,0,0,.3);
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
}
.signin-form,
.signup-form {
}
.signin-form__title,
.signup-form__title {
    margin-bottom: 20px;
    color: #333;
    font-size: 20px;
    font-weight: 700;
    line-height: 1;
    text-transform: uppercase;
}
.signup-form__surname,
.signup-form__name,
.signup-form__email,
.signin-form__email {
    margin-bottom: 20px;
}
.signin-form__email, .signin-form__password {
    width: 100%;
}
.signup-form__password label,
.signup-form__email label,
.signin-form__email label,
.signin-form__password label,
.signup-form__surname label,
.signup-form__name label,
.signup-form__verification-password label {
    display: inline-block;
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 4px;
}
.signup-form__surname input,
.signup-form__name input,
.signin-form__email input,
.signup-form__email input,
.signin-form__password input,
.signup-form__password input,
.signup-form__verification-password input {
    border: 1px solid #ebebeb;
    background-color: #fff;
    width: 100%;
    padding: 6px 15px;
    color: #333;
    font-size: 14px;
    line-height: normal;
}
.signin-form__signup, .signup-form__signin {
    margin-top: 10px;
}
.signin-form__signup a, .signup-form__signin a {
    color: #0094e9;
    font-size: 14px;
    font-weight: 500;
    transition: 0.2s;
}
.signin-form__signup a:hover, .signup-form__signin a:hover {
    color: #003f5e;
}
.signin-form button, .signup-form button {
    margin-top: 20px;
    padding: 0 30px;
    display: inline-block;
    border: 0;
    background-color: #0094e9;
    color: #fff;
    font-size: 14px;
    line-height: 2.5;
    text-transform: uppercase;
    transition: 0.2s;
}
.signin-form button:hover, .signup-form button:hover {
    background-color: #37adf1;
}
.signup-form__verification-password {
    margin-top: 20px;
}
.signup-error,
.signin-error {
    margin-top: 20px;
    color: #ffa908;
    font-size: 15px;
    font-weight: 700;
}
.signun-form__input-error,
.signin-form__input-error {
    outline: 2px solid #ffa908;
}

.account {

}
.identity {}
.account__row,
.identity__row {
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
}
.account__side,
.identity__side {
    flex: 0 1 25%;
}
.account__side-title,
.identity__side-title {
    margin-bottom: 17px;
    margin-left: 30px;
    color: #000;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.25;
}
.account__side-ul,
.identity__side-ul {
    margin-bottom: 30px;
}
.account__side-ul a,
.identity__side-ul a {
    display: block;
    background-color: #fff;
    padding: 15px 30px;
    color: #000;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.33333333;
    text-transform: uppercase;
    transition: 0.2s;
}
.account__side-ul a:hover,
.identity__side-ul a:hover {
    color: #0094e9;
}
a.account__side-ul-active,
a.identity__side-ul-active {
    background-color: #0094e9;
    color: white;
}
a.account__side-ul-active:hover,
a.identity__side-ul-active:hover {
    color: white;
}
.account__main,
.identity__main {
    flex: 0 1 70%;
}
.account__main-title,
.identity__main-title {
    color: #000;
    font-size: 30px;
    font-weight: 700;
    line-height: 1;
    text-transform: uppercase;
}
.account__main-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.account__main-inf {}
.identity__form {}
.identity__main-inf-input {
    min-width: 320px;
}
.identity__form input {
    border: 1px solid #ebebeb;
    width: 100%;
    background-color: #fff;
    padding: 6px 15px;
    color: #333;
    font-size: 14px;
    line-height: normal;
}
.identity__form input::placeholder {
    font-style: italic;
}
.account__main-inf table,
.identity__form table {
    border-spacing: 0 20px;
    margin-right: 20px;
}
.identity__form tbody {}
.account__main-inf-title,
.identity__main-inf-title {
    font-size: 16px;
    line-height: 1.25;
    color: #797979;
    padding-right: 40px;
}
.account__main-inf-text {
    font-size: 16px;
    line-height: 1.25;
}
.account__main-list {}
.account__main-list li {
    padding: 9px 0;
}
.account__main-list a {
    color: #0094e9;
    border-bottom: 1px dotted #0094e9;
    transition: 0.2s;
}
.account__main-list a:hover {
    color: rgba(0, 148, 233, 0.5);
}
.identify__form-button {}
.identify__form-button button {
    padding: 0 30px;
    font-size: 14px;
    background-color: #0094e9;
    color: #fff;
    line-height: 3.28571429;
    text-transform: uppercase;
    transition: 0.2s;
}
.identify__form-button button:hover {
    background-color: rgba(0, 148, 233, 0.7);
}
.identify__form-button a {
    color: #0094e9;
    display: inline-block;
    margin-left: 15px;
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
    transition: 0.2s;
}
.identify__form-button a:hover {
    color: rgba(0, 148, 233, 0.7);
    border-bottom: 1px solid rgba(0, 148, 233, 0.7);
}

.order-title {
    margin-bottom: 30px;
    color: #000;
    font-size: 30px;
    font-weight: 700;
    line-height: 1;
    text-transform: uppercase;
}
.order {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.order-data {
    flex: 0 1 60%;
}
.order-data__box {
    margin-bottom: 40px;
}
.order-data__title {
    background-color: #ebebeb;
    padding: 20px 40px;
    color: #000;
    font-size: 20px;
    font-weight: 700;
    font-style: italic;
    line-height: 1;
    text-transform: uppercase;
}
.order-data__form {
    border: 1px solid #ebebeb;
    padding: 28px 28px 13px 28px;
}
.order-data-name,
.order-data-surname,
.order-data-phone,
.order-data-email,
.order-data-address {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}
.order-data-name__label {
    flex: 0 1 30%;
    font-size: 16px;
    font-weight: 500;
    padding: 0 12px;
}
.order-data-name__input {
    flex: 0 1 50%;
    padding: 0 12px;
}
.order-data-name__input input {
    border: 1px solid #ebebeb;
    background-color: #fff;
    width: 100%;
    padding: 6px 15px;
    color: #333;
    font-size: 14px;
    line-height: normal;
}
.order-data-name__input input::placeholder {
    font-style: italic;
}
.order-data-submit {
    width: 80%;
    text-align: right;
    padding: 0 12px;
}
.order-data-submit button {
    padding: 0 20px;
    font-size: 14px;
    background-color: #0094e9;
    color: #fff;
    line-height: 2.5;
    text-transform: uppercase;
    transition: 0.2s;
}
.order-data-submit button:hover  {
    background-color: rgba(0, 148, 233, 0.7);
}
.order-cart {
    flex: 0 1 30%;
}
.order-cart__box {
    padding: 20px;
    background-color: #f0f0f0;
    margin-bottom: 40px;
}
.order-cart__title {
    margin-bottom: 20px;
    color: #000;
    font-size: 20px;
    font-weight: 700;
    font-style: italic;
    line-height: 1;
    text-transform: uppercase;
}
.order-cart__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    border-top: 2px solid #fff;
}
.order-cart__img {
    flex: 0 1 30%;
}
.order-cart__img img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.order-cart__content {
    flex: 0 1 65%;
}
.order-cart__content-title {
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: 700;
    line-height: 1.28571429;
}
.order-cart__content-title a {
    color: #333;
    transition: 0.2s;
    margin-right: 4px;
}
.order-cart__content-title a:hover {
    color: #0094e9;
}
.order-cart__content-title span {
    display: inline-block;
    color: #999;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.28571429;
    white-space: nowrap;
}
.order-cart__content-detail {
    display: flex;
    justify-content: space-between;
}
.order-cart__content-count,
.order-cart__content-price {
    color: #333;
    font-size: 13px;
    font-weight: 400;
    line-height: 1;
}
.order-cart__total {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
    border-top: 2px solid #fff;
    font-size: 18px;
    line-height: 1;
}
.order-cart__total-text {}
.order-cart__total-amount {
    font-weight: 700;
}
.order-cart__edit {
    text-align: center;
}
.order-cart__edit a {
    color: #0094e9;
    border-bottom: 1px dotted #0094e9;
    transition: 0.2s;
}
.order-cart__edit a:hover {
    color: rgba(0, 148, 233, 0.5);
}
.order-data-name__input-error,
.order-data-surname__input-error,
.order-data-email__input-error,
.order-data-phone__input-error,
.order-data-address__input-error {
    outline: 2px solid #ffa908;
}
.order-data__form-error {
    margin-top: 20px;
    color: #ffa908;
    font-size: 15px;
    font-weight: 700;
    padding: 0 12px;
}

.order-history-none {
    background-color: #5192f3;
    border-color: #4b80c3;
    color: #fff;
    padding: 15px;
    margin: 8px 0;
}
.order-history-none a {
    color: #fff;
    margin: 8px 10px 8px 0;
    transition: 0.2s;
}
.order-history-none a:hover {
    color: #9fb3f1;
}

.orders {}
.orders__item {
    position: relative;
    background-color: white;
    padding: 15px;
    margin-bottom: 10px;
}
.orders__item-title {
    color: #333;
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: 700;
    line-height: 1;
    text-transform: uppercase;
    transition: 0.2s;
}
.orders__item-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.orders__item-inf-customer {
    flex: 0 1 70%;
}
.orders__item-inf-customer-input {
    display: flex;
    color: #333;
    margin-bottom: 10px;
    font-size: 16px;
    line-height: 1.42857143;
}
.orders__item-inf-customer-input:last-child {
    margin-bottom: 0;
}
.orders__item-inf-customer-input-title {
    flex: 0 1 30%;
    font-weight: 700;
    font-size: 14px;
}
.orders__item-inf-customer-input-value {
    flex: 0 1 70%;
    font-size: 14px;
}
.orders__item-inf {
    flex: 0 1 30%;
}
.orders__item-inf-date {
    color: #333;
    font-size: 15px;
    font-weight: 700;
    line-height: 1.42857143;
    text-align: right;
}
.orders__item-inf-price {
    color: #999;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: right;
}
.orders__item-inf-price-value {
    font-size: 24px;
    color: #0094e9;
    font-weight: 700;
    line-height: 1;
    text-align: right;
}
.orders__item-link {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: 0.2s;
}
/*.orders__item-link:hover {*/
/*    box-shadow: 0 0 20px 1px rgba(0,0,0,0.29);*/
/*}*/
.orders__item:hover .orders__item-title {
    color: #0094e9;
}

.orders__item-img {
    flex: 0 1 19%;
}
.orders__item-img img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.orders__item-text {
    flex: 0 1 79%;
}
.orders__item-text-row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.orders__item-text-inf {
    flex: 0 1 60%;
}
.orders__item-text-inf-category {
    margin-bottom: 10px;
    color: #333;
    font-size: 14px;
    line-height: 1.42857143;
    transition: 0.2s;
}
.orders__item-text-inf-category a {
    color: #333;
    font-size: 14px;
    line-height: 1.42857143;
    transition: 0.2s;
}
.orders__item-text-inf-category a:hover {
    color: #0094e9;
}
.orders__item-text-inf-title {
    margin-bottom: 30px;
}
.orders__item-text-inf-title a {
    color: #333;
    font-size: 18px;
    font-weight: 700;
    line-height: 1;
    text-transform: uppercase;
    transition: 0.2s;
}
.orders__item-text-inf-title a:hover {
    color: #0094e9;
}
.orders__item-text-inf-title span {
    font-size: 14px;
    margin-left: 6px;
    color: #999;
    font-weight: 400;
}
.orders__item-text-inf-price {
    font-size: 24px;
    color: #0094e9;
    font-weight: 700;
    line-height: 1;
}
.orders__item-text-count    {
    flex: 0 1 20%;
    font-size: 15px;
    font-weight: 700;
    text-align: center;
}
.orders__item-text-price {
    flex: 0 1 20%;
}
.orders__item-text-price-title {
    font-size: 14px;
    color: #999;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: right;
}
.orders__item-text-price-value {
    margin-top: 4px;
    font-size: 24px;
    color: #333;
    font-weight: 700;
    line-height: 1;
    text-align: right;
}
.orders__amount {
    font-size: 14px;
    text-align: right;
    margin: 20px 0;
    margin-right: 15px;
}
.orders__amount span {
    margin-left: 20px;
    font-size: 30px;
    font-weight: 700;
}

footer {}
.quote {
    background-color: #0094e9;
    font-size: 30px;
    font-weight: 700;
    font-style: italic;
    line-height: 1.6;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
}
.footer {
    background-color: #333;
    color: #fff;
    padding-top: 40px;

}
.footer__row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.footer__contact-inf {
    padding-bottom: 40px;
}
.footer__title {
    font-weight: 700;
    line-height: 1.38888889;
    text-transform: uppercase;
    margin-bottom: 40px;
    font-size: 18px;
    color: #fff;
}
.footer__row-contact {
    display: flex;
}
.footer__address {
    margin-right: 10px;
}
.footer__contact,
.footer__address {
    flex: 0 1 50%;
    line-height: 2;
    font-size: 15px;
}
.footer__communication {
    padding-bottom: 40px;
}
.footer__link {
    display: flex;
    justify-content: space-evenly;
}
.footer__link a{
    color: white;
}
i.fa-facebook-square,
i.fa-instagram,
i.fa-telegram,
i.fa-youtube-play {
    font-size: 30px;
    transition: 0.2s;
    margin: 0 5px;
}
i.fa-facebook-square:hover {
    color: #1877f2;
}
i.fa-instagram:hover {
    color: #ff0066;
}
i.fa-telegram:hover {
    color: #1877f2;
}
i.fa-youtube-play:hover {
    color: red;
}


/*--------admin-------*/
.admin-signin {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}
.admin-signin__form {
    flex: 0 1 20%;
    padding: 15px;
    background-color: white;
    border-radius: 10px;
}
.admin-signin__title {
    margin-bottom: 20px;
    color: #333;
    font-size: 20px;
    font-weight: 700;
    line-height: 1;
    text-transform: uppercase;
}
.admin-signin__item {
    width: 100%;
    margin-bottom: 20px;
}
.admin-signin__title-input {
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 4px;
}
.admin-signin__input input {
    border: 1px solid #ebebeb;
    background-color: #fff;
    width: 100%;
    padding: 6px 15px;
    color: #333;
    font-size: 14px;
    line-height: normal;
    transition: 0.2s;
}
.admin-signin__input input:focus {
    border: 1px solid #0094e9;
}
.admin-signin__button {
    text-align: center;
}
.admin-signin__form button {
    padding: 0 30px;
    display: inline-block;
    border: 0;
    background-color: #0094e9;
    color: #fff;
    font-size: 14px;
    line-height: 2.5;
    text-transform: uppercase;
    transition: 0.2s;
}
.admin-signin__form button:hover {
    background-color: #023553;
}

.admin-signin__message {
    color: #ffa908;
    font-size: 15px;
    font-weight: 700;
    margin-bottom: 20px;
}

.adminpanel{}
.adminpanel__row {
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
}
.adminpanel__side {
    flex: 0 1 25%;
}

.admin-inf {
    display: flex;
}
.admin-inf__form {
    flex: 0 1 500px;
}
.admin-inf__item {
    display: flex;
    margin: 20px 0;
}
.admin-inf__title {
    flex: 0 1 40%;
    font-size: 16px;
    line-height: 1.25;
    color: #797979;
    padding-right: 40px;
}
.admin-inf__input {
    flex: 0 1 60%;
}
.admin-inf__input input {
    width: 100%;
    border: 1px solid #ebebeb;
    background-color: #fff;
    padding: 6px 15px;
    color: #333;
    font-size: 14px;
    line-height: normal;
}
.admin-inf__input .admin-inf__input-error {
    border: 1px solid #ffa908;
}
.admin-inf__margin {
    flex: 0 1 40%;
}
.admin-inf__button {}
.admin-inf__button button {
    padding: 0 30px;
    font-size: 14px;
    background-color: #0094e9;
    color: #fff;
    line-height: 3.28571429;
    text-transform: uppercase;
    transition: 0.2s;
}

.orders__item-inf-delete {
    text-align: right;
}
.orders__item-inf-delete a {
    color: #0094e9;
    border-bottom: 1px dotted #0094e9;
    transition: 0.2s;
    line-height: 2;
}
.orders__item-inf-delete a:hover {
    color: #024972;
}

.orders__item {
    transition: 0.2s;
}
.orders__item:hover {
    box-shadow: 0 0 20px 1px rgba(0,0,0,0.29);
}
.choice {

}
.choice a {
    color: #0094e9;
    border-bottom: 1px dotted #0094e9;
    transition: 0.2s;
    margin-left: 15px;
}
.choice a:hover {
    color: #024972;
}

.product-admin__item-text-inf-title {

}
.product-admin__item-text-inf-title a {
    color: #333;
    font-size: 18px;
    font-weight: 700;
    line-height: 1;
    text-transform: uppercase;
    transition: 0.2s;
}
.product-admin__item-text-inf-title a:hover {
    color: #0094e9;
}
.product-admin__item-text-inf-title span {
    font-size: 14px;
    margin-left: 6px;
    color: #999;
    font-weight: 400;
}

.product-admin__item-text-inf-category {
    color: #333;
    font-size: 14px;
    line-height: 1.42857143;
    transition: 0.2s;
}
.orders__item-text-count span {
    font-size: 14px;
    color: #999;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: right;
}

.edit-product {
    background-color: white;
    padding: 15px;
}
.edit button {
    color: #0094e9;
    border-bottom: 1px dotted #0094e9;
    transition: 0.2s;
    background-color: white;
}
.edit button:hover {
    color: #024972;
}
.edit-product__row {
    display: flex;
    margin-top: 15px;
}

.edit-product__left {
    flex: 0 1 30%;
}
.edit-product__img {
    width: 100%;
    margin-bottom: 10px;
}
.edit-product__img img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.edit-product__file {
    margin-bottom: 10px;
}

.edit-product__center {
    flex: 0 1 40%;
    padding: 0 15px;
}
.edit-product__center-text {
    display: flex;
}
.edit-product__center-title {
    width: 30%;
    color: #333;
    font-size: 14px;
    line-height: 1.42857143;
}
.edit-product__center-link a {
    color: #0094e9;
    border-bottom: 1px dotted #0094e9;
    transition: 0.2s;
}
.edit-product__center-link a:hover {
    color: #024972;
}
.edit-product__center-input {
    margin-bottom: 20px;
}
.edit-product__center-input select {
    width: 100%;
    border: 1px solid #ebebeb;
    background-color: #fff;
    padding: 6px 15px;
    color: #333;
    font-size: 14px;
    line-height: normal;
}
.edit-product__center-input input {
    width: 100%;
    border: 1px solid #ebebeb;
    background-color: #fff;
    padding: 6px 15px;
    color: #333;
    font-size: 14px;
    line-height: normal;
}
.edit-product__description textarea {
    resize: none;
    width: 100%;
    border: 1px solid #ebebeb;
    background-color: #fff;
    padding: 6px 15px;
    color: #333;
    font-size: 14px;
    line-height: normal;
    text-align: justify;
}

.edit-product__right {
    flex: 0 1 30%;
}

.edit-element {}
.edit-element__list {
    background-color: white;
    padding: 15px;
}
.edit-element__row {
    width: 50%;
    display: flex;
    border-bottom: 2px solid #f5f5f5;
    margin-bottom: 10px;
}
.edit-element__form-row {
    width: 60%;
    display: flex;
    align-items: center;
}
.edit-element__title {
    width: 50%;
    font-size: 15px;
    font-weight: 700;
}
.edit-element__name {
    width: 50%;
    color: #333;
    font-size: 14px;
    line-height: 1.42857143;
}
.edit-element__active {
    width: 50%;
}
.edit-element__active a {
    color: #0094e9;
    border-bottom: 1px dotted #0094e9;
    transition: 0.2s;
}
.edit-element__active a:hover {
    color: #024972;
}

.edit-element__form {
    width: 100%;
}
.edit-element__input {
    flex: 0 1 80%;
    margin-right: 10px;
}
.edit-element__input input {
    width: 100%;
    border: 1px solid #ebebeb;
    background-color: #fff;
    padding: 6px 15px;
    color: #333;
    font-size: 14px;
    line-height: normal;
}
.edit-element__input-active a {
    font-size: 14px;
    color: #0094e9;
    border-bottom: 1px dotted #0094e9;
    transition: 0.2s;
    margin-right: 10px;
}
.edit-element__input-active a:hover {
    color: #024972;
}
.edit-element__input-active button {
    font-size: 14px;
    color: #0094e9;
    border-bottom: 1px dotted #0094e9;
    transition: 0.2s;
    background-color: white;
    margin-right: 10px;
}
.edit-element__input-active button:hover {
    color: #024972;
}
/*--------------------*/



@media (max-width: 900px) {
    .order-data-name__input {
        flex: 0 1 70%;
    }
    .order-data-submit {
        width: 100%;
    }
    .account__row,
    .identity__row {
        flex-wrap: wrap;
    }
    .account__side,
    .identity__side,
    .account__main,
    .identity__main {
        flex: 0 1 100%;
    }
    .cart-product__title {
        margin-bottom: 20px;
    }
    .cart-product__title a {
        font-size: 12px;
    }
    .cart-product__title span {
        font-size: 10px;
    }
    .cart-product__price {
        font-size: 15px;
    }
    .cart-product__count input {
        width: 60px;
        height: 25px;
        font-size: 12px;
    }
    .cart-product__amount-price {
        font-size: 15px;
    }
    body.body__lock {
        overflow: hidden;
    }
    .nav-bottom__burger {
        display: block;
        position: relative;
        width: 30px;
        height: 20px;
        z-index: 3;
        margin-right: 10px;
    }
    .nav-bottom__burger span {
        top: 9px;
    }
    .nav-bottom__burger span,
    .nav-bottom__burger:before,
    .nav-bottom__burger:after {
        content: "";
        background-color: white;
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0;
        transition: all, 0.3s ease 0s;
    }
    .nav-bottom__burger:before {
        top: 0;
    }
    .nav-bottom__burger:after {
        bottom: 0;
    }
    .nav-bottom__burger.nav-bottom__burger-active span {
        transform: scale(0);
    }
    .nav-bottom__burger.nav-bottom__burger-active:before {
        transform: rotate(45deg);
        top: 9px;
    }
    .nav-bottom__burger.nav-bottom__burger-active:after {
        transform: rotate(-45deg);
        bottom: 9px;
    }
    .nav-bottom__menu {
        position: fixed;
        top: -100%;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: white;
        padding: 100px 0 0 10px;
        transition: all, 0.3s ease 0s;
    }
    .nav-bottom__menu.nav-bottom__burger-active {
        top: 0;
    }
    .nav-bottom__nav {
        display: block;
    }
    .nav-bottom__nav li {
        margin-bottom: 20px;
    }
    .nav-bottom__nav a {
        color: black;
    }

    .block-banner__item {
        flex: 0 0 100%;
        padding-bottom: 50%;
    }
    .block-banner__text a {
        padding: 5px 10px;
        font-size: 10px;
    }
    .benefits__text-center {
        font-size: 18px;
    }
    .benefit {
        flex: 0 1 50%;
    }

    .benefit__title-text {
        font-size: 10px;
    }
    .benefit-social {
        display: block;
    }
    .benefit-social__right,
    .benefit-social__left {
        text-align: center;
        font-size: 10px;
    }
    .benefit-social__center {
        padding: 10px 0;
    }
    .popular-title{
        font-size: 18px;
    }
    .quote {
        font-size: 18px;
    }
}
@media (max-width: 990px) {
    .popular__category,
    .popular__product,
    .form-sort,
    .list-product {
        flex: 0 1 100%;
    }
    .list-product__sort {
        margin-top: 40px;
        margin-left: 0;
        margin-right: 0;
    }
    .list-product__row {
        margin-left: 0;
    }
}
@media (max-width: 760px) {
    .order-title {
        font-size: 20px;
    }
    .order-data__title {
        font-size: 18px;
        padding: 10px 22px;
    }
    .order-data__form {
        padding: 20px 10px;
    }
    .order-data,
    .order-cart {
        flex: 0 1 100%;
    }
    .order-cart__img {
        position: relative;
        padding-bottom: 30%;
    }
    .order-cart__img img {
        position: absolute;
        top: 0;
        left: 0;
    }
    .basket__button-update {
        padding-top: 46px;
    }
    .basket__button-update a,
    .basket__order a{
        font-size: 10px;
        padding: 10px 20px;
    }
    .basket__sum {
        font-size: 10px;
    }
    .basket__sum span {
        font-size: 20px;
    }
    .cart-product__content-row {
        flex-direction: column;
        align-items: start;
    }
    .cart-product__amount-tip {
        margin-top: 10px;
        text-align: left;
    }
    .cart-product__count input {
        margin-top: 10px;
    }
    .product {
        flex: 0 1 50%;
    }
    .product__item {
        margin-bottom: 10px;
    }
    .product__title {
        font-size: 10px;
    }
    .product-head__img,
    .product-head__main,
    .product-info__description,
    .product-info__reviews,
    .product-head__categories {
        flex: 0 1 100%;
    }
    .product-head__categories {
        margin-bottom: 20px;
    }
    .product-info__title {
        font-size: 18px;
    }
    .phb-package,
    .phb-price {
        font-size: 10px;
    }
    .phb-available {
        font-size: 10px;
    }
    .product-head__buy th {
        font-size: 8px;
    }
    .phb-count input[type=number] {
        height: 20px;
        width: 25px;
        padding: 0 5px;
        color: #000;
        font-size: 10px;
    }
    .phb-add a {
        font-size: 8px;
        padding: 3px 4px;
    }
}
@media (max-width: 660px) {
    .orders__amount {
        font-size: 12px;
    }
    .orders__amount span {
        font-size: 14px;
        margin-left: 5px;
    }
    .orders__item-img {
        flex: 0 1 29%;
    }
    .orders__item-text {
        flex: 0 1 69%;
    }
    .orders__item-text-inf,
    .orders__item-text-count,
    .orders__item-text-price {
        flex: 0 1 100%;
    }
    .orders__item-text-inf-price {
        font-size: 12px;
    }
    .orders__item-text-inf-category {
        margin-bottom: 0;
    }
    .orders__item-text-inf-category a {
        font-size: 10px;
    }
    .product-admin__item-text-inf-category {
        margin-bottom: 0;
    }
    .product-admin__item-text-inf-category a {
        font-size: 10px;
    }
    .product-admin__item-text-inf-title {
        margin-bottom: 10px;
    }
    .product-admin__item-text-inf-title a {
        font-size: 12px;
    }
    .orders__item-text-inf-title {
        margin-bottom: 10px;
    }
    .orders__item-text-inf-title a {
        font-size: 12px;
    }
    .orders__item-text-count {
        margin-bottom: 10px;
        font-size: 10px;
        text-align: left;
    }
    .orders__item-text-price-title {
        font-size: 10px;
    }
    .orders__item-text-price-value {
        margin-top: 0;
        font-size: 12px;
    }
    .orders__item-text-price-title,
    .orders__item-text-price-value {
        text-align: left;
    }
    .orders__item-inf-customer {
        flex: 0 1 100%;
    }
    .orders__item-inf {
        margin-top: 20px;
        flex: 0 1 100%;
    }
    .orders__item-inf-date,
    .orders__item-inf-price,
    .orders__item-inf-price-value,
    .orders__item-inf-delete {
        text-align: left;
    }
    .order-data-name__label {
        font-size: 10px;
    }
    .identity__main-inf-title-button {
        display: none;
    }
    .account__main-row {
        flex-wrap: wrap;
    }
    .account__main-inf, .account__main-list {
        flex: 0 1 100%;
    }
    .account__main-title,
    .identity__main-title {
        font-size: 20px;
    }
    .identity__main-inf-input {
        min-width: 100px;
    }
    .identity__form input {
        width: 100%;
    }
}